@import url('https://fonts.cdnfonts.com/css/codec-cold');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=30125,16015,16016,16017,16018,16019,16008,16020,16022,16007,16009,16021,15981,15983,15985,15986,15987,15990,16012,16014,15980,15982,15984,15988,15989,16006,16013,15991,15992,15993,15994,15996,15995,30126,30127,30124,30128,30134,30129,30136,15999,16010,30123,16011,30130,30131,30135,30132,15997,30133,15998,16005');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'Helvetica Nue 55', sans-serif;
  margin: 0;
}

nav > div,
section > div > p
{
font-family: 'Codec Cold Trial', sans-serif !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100%;
}

h1 {
  font-family: 'Cairo', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
